<a href="https://colab.research.google.com/github/ranj10/Python_45_Problems_with_solution/blob/main/Odin_Python_practice_L1_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
n=input("Enter your name :")
a=int(input("Enter your age in years :"))
g=input("Enter your gender :")
o=input("Enter your occupation :")
w=float(input("Enter your weight (in kg) :"))
h=float(input("Enter your height (in cms) :"))
print("{} is {} year old {} {}".format(n,a,g,o))

Enter your name :ranjana
Enter your age in years :31
Enter your gender :f
Enter your occupation :b
Enter your weight (in kg) :58
Enter your height (in cms) :155
ranjana is 31 year old f b

In [ ]:
h2=h/100
bmi=w/(h2**2)
print("BMI of {} is : {:.2f}".format(n,bmi))

BMI of ranjana is : 24.14

In [ ]:
a1=10
b1=12
c1=0
d1=-1

In [ ]:
(a1<b1) and (a1+1>b1)

False

In [ ]:
1==1 or 1==2

True

In [ ]:
0 or False

False

In [ ]:
1 or False

1

In [ ]:
False or 1

1

In [ ]:
False and 1

False

In [ ]:
not 0 or not'A'

True

In [ ]:
False or ""

''

In [ ]:
True and " "

' '

In [ ]:
d1 or c1

-1

In [ ]:
not d1 and c1

False

In [ ]:
c1 and not d1

0

In [ ]:
str(c1) in str(a1)

TypeError: ignored

In [ ]:
3' in str(a1)

SyntaxError: ignored

In [ ]:
stri="Let us discuss collection"

In [ ]:
type(stri)

str

In [ ]:
print(stri[2])

t

In [ ]:
stri[2]="tts" #it will return error

TypeError: ignored

In [ ]:
list=['applae',20,2.5,True,0]

In [ ]:
type(list)

list

In [ ]:
list[2]

2.5

In [ ]:
list[2]="two"

In [ ]:
list

['applae', 20, 'two', True, 0]

In [ ]:
tuple=('apple',20,2.5,True,0)

In [ ]:
type(tuple)

tuple

In [ ]:
tuple[2]

2.5

In [ ]:
tuple[2]="three" #it will return error

TypeError: ignored

In [ ]:
set={'apple',20,2.5,True,0,3,5,5,6,7,6}

In [ ]:
type(set)

set

In [ ]:
set[2] #it does not have index

TypeError: ignored

In [ ]:
print(set) #prints only unique value

{0, 'apple', 2.5, 3, True, 5, 6, 7, 20}

In [ ]:
dict={'name': 'ranjana','age' : '31', 'gender' : 'female'}

In [ ]:
21
522dict[1]# not indexable

KeyError: ignored

In [ ]:
print(dict['name'])

ranjana

In [ ]:
print(dict)

{'name': 'ranjana', 'age': '31', 'gender': 'female'}

In [ ]:
type(dict)

dict

In [ ]:
name=input('Enter your name here:')
age=int(input('Enter your age here:'))
amt=int(input('Enter the total amount:'))

if age >= 55:
  perdis=amt*10/100
  disamt=amt-perdis
  print("Hi! you are elligible for senior citizen discount")
  print("Hi {} ,Please pay an amount of {}".format(name,disamt))
else:
  print("Hi {} ,Please pay an amount of {}".format(name,amt))

Enter your name here:ranjana gayutam
Enter your age here:31
Enter the total amount:1000
Hi ranjana gayutam ,Please pay an amount of 1000

In [ ]:
#guessing random number
num1=int(input("Enter first number here :"))
num2=int(input("Enter second number here :"))

if num1 > num2:
  print(num1,"is greater number")
elif num2 > num1:
  print(num2,"is greater number")
else:
  print(num1,"and",num2,"are equal numbers")

Enter first number here :55
Enter second number here :66
66 is greater number

In [ ]:
# giving second guess chance
import random as r
rannum=r.randint(1,5)
num=int(input("Enter your guess number (1-5):"))

if num == rannum:
  print("You Won!!!")
  print( "The ans is" ,rannum)
else:
  num2=int(input("Enter your second guess number (1-5):"))
  if num2 == rannum:
    print("You Won!!!")
    print( "The ans is" ,rannum)
  else:
    print("Better luck next time")
    print( "The ans is" ,rannum)

print("Game over! Thanks for playing")

Enter your guess number (1-5):5
Enter your second guess number (1-5):4
Better luck next time
The ans is 1
Game over! Thanks for playing

In [ ]:
numb1=int(input("Enter your number (n1):"))
numb2=int(input("Enter your number (n2):"))
numb3=int(input("Enter your number (n3):"))

if numb1 >= numb2 and numb1 >= numb3:
  print( numb1,"is greater number")
elif numb2 >= numb1 and numb2 >= numb3:
  print( numb2,"is greater number")
else:
  print( numb3,"is greater number")

Enter your number (n1):55
Enter your number (n2):22
Enter your number (n3):66
66 is greater number

In [ ]:
# giving appraisal and hike to employee based on their exp
ex1=int(input("Enter your overall experience in this organisation (in months):"))


if ex1 >= 12:
  print("Eligible for appraisal and Hike")
elif ex1 < 12:
  ex2=int(input("Enter your overall experience in previous organisation (in months):"))
  if ex2 >=12:
    print("appraisal and default Hike")
  else:
    print("appraisal and No Hike")

Enter your overall experience in this organisation (in months):11
Enter your overall experience in previous organisation (in months):12
appraisal and default Hike

In [ ]:
#print all single digit

i=0
while i < 10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#even number between 1 to 20
for i in range(21):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#print each letter of name

nam=input("Enter your name here")

for i in nam:
  print(i)

Enter your name hereranjana gautam
r
a
n
j
a
n
a

g
a
u
t
a
m

In [ ]:
#factorial of a given number

fact=int(input("Enter your number :"))
f=1
for i in range(1,fact+1):
  f *= i
print(f)

Enter your number :8
40320

In [ ]:
#print total of number from 10 to 99
j=0
for i in range(10,100):
  j += i

print(j)

4905

In [ ]:
#print sum of all even number from 10 to 99
j=0
for i in range(10,100):
  if i%2 ==0:
    j += i

print(j)

2430

In [ ]:
#print sum of all odd number from 10 to 99
j=0
for i in range(10,100):
  if i%2 !=0:
    j += i

print(j)

2475

In [ ]:
#string with its index position

str=input("Enter your number :")
s=0
for i in str:
  print("({},'{}')".format(s,i))
  s += 1

Enter your number :ranjana gautam
(0,'r')
(1,'a')
(2,'n')
(3,'j')
(4,'a')
(5,'n')
(6,'a')
(7,' ')
(8,'g')
(9,'a')
(10,'u')
(11,'t')
(12,'a')
(13,'m')

In [ ]:
#join each item of 1 list to another list

item=["juice","salad","sandwitch","paratha","idli","sambhar","dosa","misal pav"]
price=[100,150,80,180,90,120,50,110]
for i in range(len(item)):
  print(item[i],price[i])

juice 100
salad 150
sandwitch 80
paratha 180
idli 90
sambhar 120
dosa 50
misal pav 110

In [ ]:
# write table multiplication 1-5
t=1
for i in range(1,11):
  for j in range(1,6) :
    print(j * i,end=" ")
    t =+ 1
  print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50

In [ ]:
# 10 first odd number
b=1
for i in range(10):
  if b%2 != 0:
    print(b)
  b+=1

1
3
5
7
9

In [ ]:
count = 0
num = 1

while count < 10:
    if num % 2 != 0:
        print(num)
        count += 1
    num += 1

1
3
5
7
9
11
13
15
17
19